<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>

  <p>votre formation a bien été crée</p>
		{{inscription.id}}
		</body>
	</body>
</html></body></html>